<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.co.notiplus">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="${APP_NAME}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SimpleInitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CustomSwitchActivity" />

        <activity android:name=".CustomIntroPopupActivity" />

        <!-- 노티플러스 알림바 id 변경이 필요하다면 추가해주세요 -->
        <meta-data
            android:name="kr.co.notiplus.lib.notification.id"
            android:value="9" />

        <!-- 노티플러스 알림바 누가버전 대응을 위한 extra id 변경이 필요하다면 추가해주세요 -->
        <meta-data
            android:name="kr.co.notiplus.lib.notification.id.extra"
            android:value="10" />

    </application>

</manifest>